@model LocalVideoStreaming.Controllers.PlayerController.VideoModel

@{
	ViewData["Title"] = "Player";
}

<br />

<a href="@Url.Action("Index", "Browse", new { path = Model.Parent.Path })" class="btn btn-default btn-sm">
	<i class="glyphicon glyphicon-menu-left"></i>
	@Model.Parent.Shortname
</a>

<h1 class="text-center">@Model.Shortname</h1>

<style>
	video {
		width: 100%;
		height: auto;
		max-height: 100%;
	}
</style>

<video id="mainPlayer" data-path="@Model.Path"
	   autoplay="autoplay"
	   controls="controls"
	   onloadeddata="onLoad()"
	   onclick="this.paused ? this.play() : this.pause();">
	<source id="source" src="/player/stream/?path=@Model.Path" />
</video>

@if (Model.PreviousVideoPath != null)
{
	@Html.ActionLink("Previous", "Index", "Player", new { path = Model.PreviousVideoPath }, new { @class = "btn btn-default" })
}
@if (Model.NextVideoPath != null)
{
	@Html.ActionLink("Next", "Index", "Player", new { path = Model.NextVideoPath }, new { @class = "btn btn-default pull-right" })
}

@section Scripts {
	<script>
		var path = '@Model.Path';

		function onLoad() {
			// Try to read time from query string.
			const urlParams = new URLSearchParams(window.location.search);
			const secParam = urlParams.get('sec');
			if (secParam) {
				setMainPlayerCurrentTime(secParam);
			} else {
				// Try to read time from localStorage.
				var secFromLocalStorage = localStorage[path];
				if (secFromLocalStorage) {
					setMainPlayerCurrentTime(secFromLocalStorage);
				}
			}
			
			trackTime();
		}

		function setMainPlayerCurrentTime(secStr) {
			var sec = parseInt(secStr);
			if (!isNaN(sec) && sec !== 0) {
				mainPlayer.currentTime = sec;
				mainPlayer.play();
			}
		}

		function trackTime() {
			var sec = mainPlayer.currentTime | 0;
			localStorage[path] = sec + "";

			fetch('/Player/NotifyTime', {
				method: 'POST',
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					Path: mainPlayer.getAttribute("data-path"),
					Sec: sec
				})
			}).then(function () {
				setTimeout(trackTime, 1000);
			}, function () {
				setTimeout(trackTime, 1000);
			});
		}
	</script>
}
